@{
  Layout = "_Layout";
}

<h2>Welcome to our Factory Manager.</h2>
<button class="btn btn-primary">@Html.ActionLink("See all engineers", "Index", "Engineers")</button>
<button class="btn btn-primary">@Html.ActionLink("See all machines", "Index", "Machines")</button>